.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
justfile
vsix/**
package-lock.json
.DS_Store
**/.DS_Store
*.vsix
